

body {
  font-family: 'Lora', serif;
}


/******GRID******/
.full-width {width: 1200px;
}

.half-width {width: 600px;
    float: left;
}

.third-width {width: 300px;
    float:left;
    padding-right: 100px;
}


/**********fonts***************/
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 600;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: darkgray;
  letter-spacing: 1px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0;
}

p {
  font-size: 20px;
}

/*************header****************/
header {
  height: 400px;
  padding: 0 100px;
}

h1 img {
  width: 50px;
  padding-right: 10px;
}

h1 span {
  color: #e23c00;
}

nav ul li {
  display: inline-block;
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

nav {
  text-align: right;
  padding-bottom: 30px;
}

nav a{
  text-decoration: none;
  color: darkgray;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*****************about****************/
#about {
  background-color: /*#e23c00*/#fcad53;
/*  color: white;*/
}

#about-text {
  padding: 100px;
}

/**********************portfolio********************/
#portfolio {
  padding: 100px;
/*  height: 450px;*/
}

#portfolio img {
  width: 300px;
}

#portfolio p {
  margin-top: 0;
}

#portfolio a {
  color: black;
}

#print {
  clear: both;
  padding: 20px 0 100px 0;
}

/**********************contact********************/
#contact {
  clear: both;
  background-color: #fcad53;
  height: 200px;
  margin-top: 200px;
  padding: 20px 0 0 100px;
}

#contact a {
  text-decoration: none;
  color: black;
  margin-bottom: 0;
}
#contact p {
  margin-bottom: 0;
}

footer {
  background-color: #fcad53;
  height: 50px;
  margin-top: 0;
  padding-left: 100px;
}

footer p {
  font-size: 12px;

}
